*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}
h1 {
    
    text-align: center;
  margin: auto;
  font-size: 50px;
  font-weight: bold;
  color: blue;
}

.timer {
  display: flex;
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Lato', serif;
  text-align: center;
  align-items: center;

}
span {
  display: inline-block;
  vertical-align: top;
  font-size: 40px;
  background:white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  line-height: 60px;
  width: 200px;
  margin: 2px 1px;
  border-radius: 10px;
}
